.btn {
  height: 2.5rem;
  width: 4rem;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease 0s;
}

.btn:hover {
  background-color: #84bbff;
}

.input {

  border-radius: 8px; 
  height: 2.5rem; 
  width: 100%; 
  padding: 0.5rem; 
  color: #6b7280; 

}